.body{
    background-image:linear-gradient(to right,hsl(47, 98%, 50%),hsl(180, 98%, 31%));
}


.block{
    width:1300px;
    height: 300px;
    /* border:2px solid black; */
    margin:auto;
    
}
.para{
    margin-left: 20px;
    float:left;
    width:700px;
    margin-top: 100px;
    font-size: 30px;
}

.container{
    display:block;
    box-shadow: black;
}
.img{
    width: 500px;
    height:500px;
    box-shadow:10px darkblue;
}
h1{
    font-size: 50px;
    text-align: center;
    color:white;
    background-color: hsl(180, 98%, 31%);
    padding:30px;
    border-radius: 20px;
}


/* .shape {
    display: block;
    position: absolute;
    animation: rotate 8s linear infinite;
}

.shape-1 {
    top: 60px;
    left: 47%;
}

.shape-2 {
    top: 20%;
    right: 50px;
    animation-delay: 0.25s;
} */